<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <div><h1>The Tech Blog</h1></div>
</head>

<body>


<div><h3>Why MVC is so important</h3>
<p>MVC allows developers to maintin a true separation of concerns, devising their code between the model layer for data, the view layer for design, and the Controller layer for application logic.</p>
</div>

<div><h3>Authentication vs. Authorization</h3>
<p>There is a difference between authentication and authorization. Authentication means confirming your own identity, whereas authorization means being allowed access to the system.</p>
</div>

<div><h3>Object-Relational Mapping</h3>
<p>I have really loved learning about ORMs. It's really simplified the way I create queries in SQL!</p>
</div>


    
</body>
</html>