<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="style.css">
    <div><h1>The Tech Blog</h1></div>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</li>
            {{#if loggedIn}}
                <li><a href="#" id="logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
        </ul>
    </nav>    

    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>